* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0, 0,0.3);

}

/* NAV */
nav {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 5px 10px;
}

nav ul li a {
  color: #ff4d4d; /* rojo fuerte */
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border: 1px solid #ff4d4d;
  border-radius: 8px;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: #ff9999; /* rojo clarito */
  color: white;
  border-color: #ff9999;
}
